<div class="col-md-offset-2 col-md-8">
<div class="panel panel-default">
	<div class="panel-body">
		<h2>About Philly Folks</h2>
		<p>What do you think of when you hear the word 'gentrification'?  Maybe it's new development, new people, and revitalization.  Maybe it's displacement, loss of affordable housing, and loss of community.  One thing is sure - rarely do the communities that are experiencing these changes get their voices heard.</p>
		<p>Tell us your neighborhood story.  What do you see that's changing?  What do you hope stays the same?  Add pictures and stories - make your mark on the map and show us the neighborhood through your eyes.</p> 
		<p>Philly Folks was created by <a href="http://www.adriennemcd.com" target="_blank">Adrienne McDonnell.</a>  I'd love to hear your feedback and suggestions.  Contact me <a href="mailto:hello@adriennemcd.com" target="_blank">here.</a>
	</div>
</div>
</div>